<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_262e8a0fa90c46efa8da67ef354cda85 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_262e8a0fa90c46efa8da67ef354cda85" ></div>
        
</body>
<script>    
    
            var map_262e8a0fa90c46efa8da67ef354cda85 = L.map(
                "map_262e8a0fa90c46efa8da67ef354cda85",
                {
                    center: [10.779197666929337, 106.71195103296508],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_1355c8628c50408d9e30fa6c2311be52 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_262e8a0fa90c46efa8da67ef354cda85);
        
    
            var marker_6353b15c14de4fc494db34693b93d6f0 = L.marker(
                [10.779197666929337, 106.71195103296508],
                {}
            ).addTo(map_262e8a0fa90c46efa8da67ef354cda85);
        
    
        var popup_b61cda6f3e974f0784d0996833338404 = L.popup({"maxWidth": "100%"});

        
            var html_b4db19a2e95042b49c4ea74062fea582 = $(`<div id="html_b4db19a2e95042b49c4ea74062fea582" style="width: 100.0%; height: 100.0%;"></div>`)[0];
            popup_b61cda6f3e974f0784d0996833338404.setContent(html_b4db19a2e95042b49c4ea74062fea582);
        

        marker_6353b15c14de4fc494db34693b93d6f0.bindPopup(popup_b61cda6f3e974f0784d0996833338404)
        ;

        
    
</script>