<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_f7275d90b2b343f5a1aa00e1de36a7cd {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_f7275d90b2b343f5a1aa00e1de36a7cd" ></div>
        
</body>
<script>    
    
            var map_f7275d90b2b343f5a1aa00e1de36a7cd = L.map(
                "map_f7275d90b2b343f5a1aa00e1de36a7cd",
                {
                    center: [10.80353215643165, 106.76483740226419],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_8be9b94732f6475e8b787abbd5840b5f = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_f7275d90b2b343f5a1aa00e1de36a7cd);
        
    
            var marker_270eaa3eac6646bf82162ce5920e91d4 = L.marker(
                [10.80353215643165, 106.76483740226419],
                {}
            ).addTo(map_f7275d90b2b343f5a1aa00e1de36a7cd);
        
    
        var popup_f8db727f0fb1481184b26f2d617bb9e1 = L.popup({"maxWidth": "100%"});

        
            var html_17069451b9394b6a8a5984a233779bb8 = $(`<div id="html_17069451b9394b6a8a5984a233779bb8" style="width: 100.0%; height: 100.0%;"></div>`)[0];
            popup_f8db727f0fb1481184b26f2d617bb9e1.setContent(html_17069451b9394b6a8a5984a233779bb8);
        

        marker_270eaa3eac6646bf82162ce5920e91d4.bindPopup(popup_f8db727f0fb1481184b26f2d617bb9e1)
        ;

        
    
</script>